// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as IcePanel from "../../../../../index.js";
import { StatsClient } from "../resources/stats/client/Client.js";

export declare namespace LogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LogsClient.Options>;
    protected _stats: StatsClient | undefined;

    constructor(options: LogsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get stats(): StatsClient {
        return (this._stats ??= new StatsClient(this._options));
    }

    /**
     * List action logs
     *
     * @param {IcePanel.ActionLogsListRequest} request
     * @param {LogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.BadRequestError}
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.landscapes.logs.list({
     *         landscapeId: "landscapeId"
     *     })
     */
    public async list(
        request: IcePanel.ActionLogsListRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): Promise<core.Page<IcePanel.ActionLog, IcePanel.landscapes.LogsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: IcePanel.ActionLogsListRequest,
            ): Promise<core.WithRawResponse<IcePanel.landscapes.LogsListResponse>> => {
                const { landscapeId, filter, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    filter,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.IcePanelEnvironment.ApiV1,
                        `landscapes/${core.url.encodePathParam(landscapeId)}/action-logs`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    withCredentials: true,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as IcePanel.landscapes.LogsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new IcePanel.BadRequestError(
                                _response.error.body as IcePanel.Error_,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new IcePanel.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new IcePanel.ForbiddenError(
                                _response.error.body as IcePanel.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 422:
                            throw new IcePanel.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new IcePanel.InternalServerError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.IcePanelError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/landscapes/{landscapeId}/action-logs",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<IcePanel.ActionLog, IcePanel.landscapes.LogsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.actionLogs ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }

    /**
     * @deprecated
     *
     * Find an action log
     *
     * @param {IcePanel.ActionLogFindRequest} request
     * @param {LogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.BadRequestError}
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.landscapes.logs.get({
     *         landscapeId: "landscapeId",
     *         actionLogId: "actionLogId"
     *     })
     */
    public get(
        request: IcePanel.ActionLogFindRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.landscapes.LogsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: IcePanel.ActionLogFindRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.landscapes.LogsGetResponse>> {
        const { landscapeId, actionLogId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.ApiV1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/action-logs/${core.url.encodePathParam(actionLogId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IcePanel.landscapes.LogsGetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IcePanel.BadRequestError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/landscapes/{landscapeId}/action-logs/{actionLogId}",
        );
    }

    /**
     * List actions that happened as a result of a different action
     *
     * @param {IcePanel.ActionLogChildrenListRequest} request
     * @param {LogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.BadRequestError}
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.landscapes.logs.listChildren({
     *         landscapeId: "landscapeId",
     *         actionLogId: "actionLogId"
     *     })
     */
    public async listChildren(
        request: IcePanel.ActionLogChildrenListRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): Promise<core.Page<IcePanel.ActionLog, IcePanel.landscapes.LogsListChildrenResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: IcePanel.ActionLogChildrenListRequest,
            ): Promise<core.WithRawResponse<IcePanel.landscapes.LogsListChildrenResponse>> => {
                const { landscapeId, actionLogId, filter, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    filter,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.IcePanelEnvironment.ApiV1,
                        `landscapes/${core.url.encodePathParam(landscapeId)}/action-logs/${core.url.encodePathParam(actionLogId)}/children`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    withCredentials: true,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as IcePanel.landscapes.LogsListChildrenResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new IcePanel.BadRequestError(
                                _response.error.body as IcePanel.Error_,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new IcePanel.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new IcePanel.ForbiddenError(
                                _response.error.body as IcePanel.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 422:
                            throw new IcePanel.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new IcePanel.InternalServerError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.IcePanelError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/landscapes/{landscapeId}/action-logs/{actionLogId}/children",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<IcePanel.ActionLog, IcePanel.landscapes.LogsListChildrenResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.actionLogs ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }
}
