// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IcePanel from "../../../index.js";
import { RevertsClient } from "../resources/reverts/client/Client.js";

export declare namespace VersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VersionsClient {
    protected readonly _options: NormalizedClientOptions<VersionsClient.Options>;
    protected _reverts: RevertsClient | undefined;

    constructor(options: VersionsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get reverts(): RevertsClient {
        return (this._reverts ??= new RevertsClient(this._options));
    }

    /**
     * @param {IcePanel.VersionsListRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.versions.list({
     *         landscapeId: "landscapeId"
     *     })
     */
    public list(
        request: IcePanel.VersionsListRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.VersionsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IcePanel.VersionsListRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.VersionsListResponse>> {
        const { landscapeId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IcePanel.VersionsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/landscapes/{landscapeId}/versions",
        );
    }

    /**
     * @param {IcePanel.VersionCreateRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.ConflictError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.versions.create({
     *         landscapeId: "landscapeId",
     *         body: {
     *             name: "name",
     *             notes: "notes"
     *         }
     *     })
     */
    public create(
        request: IcePanel.VersionCreateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.VersionsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IcePanel.VersionCreateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.VersionsCreateResponse>> {
        const { landscapeId, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IcePanel.VersionsCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new IcePanel.ConflictError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/landscapes/{landscapeId}/versions",
        );
    }

    /**
     * @param {IcePanel.VersionFindRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.versions.get({
     *         landscapeId: "landscapeId",
     *         versionId: "versionId"
     *     })
     */
    public get(
        request: IcePanel.VersionFindRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.VersionsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: IcePanel.VersionFindRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.VersionsGetResponse>> {
        const { landscapeId, versionId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions/${core.url.encodePathParam(versionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IcePanel.VersionsGetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/landscapes/{landscapeId}/versions/{versionId}",
        );
    }

    /**
     * @param {IcePanel.VersionDeleteRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.versions.delete({
     *         landscapeId: "landscapeId",
     *         versionId: "versionId"
     *     })
     */
    public delete(
        request: IcePanel.VersionDeleteRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IcePanel.VersionDeleteRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { landscapeId, versionId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions/${core.url.encodePathParam(versionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/landscapes/{landscapeId}/versions/{versionId}",
        );
    }

    /**
     * @param {IcePanel.VersionUpdateRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.versions.update({
     *         landscapeId: "landscapeId",
     *         versionId: "versionId",
     *         body: {}
     *     })
     */
    public update(
        request: IcePanel.VersionUpdateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.VersionsUpdateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IcePanel.VersionUpdateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.VersionsUpdateResponse>> {
        const { landscapeId, versionId, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions/${core.url.encodePathParam(versionId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IcePanel.VersionsUpdateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/landscapes/{landscapeId}/versions/{versionId}",
        );
    }
}
