// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as IcePanel from "../../../../../index.js";

export declare namespace ImportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImportClient.Options>;

    constructor(options: ImportClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a background job that imports a landscape from JSON format.
     *
     * The `JSONSchema` can be accessed at `api.icepanel.io/v1/schemas/LandscapeImportData` for automations or using LLMs for generation.
     *
     * @param {IcePanel.LandscapeImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.BadRequestError}
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     * @throws {@link IcePanel.ServiceUnavailableError}
     *
     * @example
     *     await client.landscapes.import.create({
     *         landscapeId: "landscapeId",
     *         versionId: "versionId",
     *         body: {
     *             modelConnections: [{
     *                     direction: "outgoing",
     *                     id: "connection-1",
     *                     name: "Connection",
     *                     originId: "object-2",
     *                     targetId: "object-3"
     *                 }],
     *             modelObjects: [{
     *                     id: "object-1",
     *                     name: "Domain",
     *                     type: "domain"
     *                 }, {
     *                     groupIds: ["object-3"],
     *                     id: "object-2",
     *                     name: "System",
     *                     parentId: "object-1",
     *                     type: "system"
     *                 }, {
     *                     id: "object-3",
     *                     name: "Group",
     *                     parentId: "object-1",
     *                     tagIds: ["tag-1"],
     *                     type: "group"
     *                 }],
     *             tagGroups: [{
     *                     icon: "bug",
     *                     id: "tag-group-1",
     *                     name: "Tag Group"
     *                 }],
     *             tags: [{
     *                     color: "beaver",
     *                     groupId: "tag-group-1",
     *                     id: "tag-1",
     *                     name: "Tag"
     *                 }]
     *         }
     *     })
     */
    public create(
        request: IcePanel.LandscapeImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.landscapes.ImportCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IcePanel.LandscapeImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.landscapes.ImportCreateResponse>> {
        const { landscapeId, versionId, prune, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            prune,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.ApiV1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions/${core.url.encodePathParam(versionId)}/import`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.landscapes.ImportCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IcePanel.BadRequestError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new IcePanel.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/landscapes/{landscapeId}/versions/{versionId}/import",
        );
    }

    /**
     * Get the status of a landscape import job.
     *
     * @param {IcePanel.LandscapeImportGetRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.BadRequestError}
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.landscapes.import.get({
     *         landscapeId: "landscapeId",
     *         versionId: "versionId",
     *         landscapeImportId: "landscapeImportId"
     *     })
     */
    public get(
        request: IcePanel.LandscapeImportGetRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.landscapes.ImportGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: IcePanel.LandscapeImportGetRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.landscapes.ImportGetResponse>> {
        const { landscapeId, versionId, landscapeImportId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.ApiV1,
                `landscapes/${core.url.encodePathParam(landscapeId)}/versions/${core.url.encodePathParam(versionId)}/import/${core.url.encodePathParam(landscapeImportId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.landscapes.ImportGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IcePanel.BadRequestError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/landscapes/{landscapeId}/versions/{versionId}/import/{landscapeImportId}",
        );
    }
}
