// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as IcePanel from "../../../../../index.js";

export declare namespace TechnologiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TechnologiesClient {
    protected readonly _options: NormalizedClientOptions<TechnologiesClient.Options>;

    constructor(options: TechnologiesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List technologies
     *
     * @param {IcePanel.CatalogTechnologiesListRequest} request
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.list()
     */
    public list(
        request: IcePanel.CatalogTechnologiesListRequest = {},
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IcePanel.CatalogTechnologiesListRequest = {},
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesListResponse>> {
        const { filter, admin } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filter != null) {
            _queryParams.filter = filter;
        }

        if (admin != null) {
            _queryParams.admin = admin.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                "catalog/technologies",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catalog/technologies");
    }

    /**
     * Generate suggestions for a technologies information
     *
     * @param {IcePanel.CatalogSuggestionInformationGetRequest} request
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.suggestInformation({
     *         url: "url"
     *     })
     */
    public suggestInformation(
        request: IcePanel.CatalogSuggestionInformationGetRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesSuggestInformationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__suggestInformation(request, requestOptions));
    }

    private async __suggestInformation(
        request: IcePanel.CatalogSuggestionInformationGetRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesSuggestInformationResponse>> {
        const { url } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.url = url;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                "catalog/suggestion/information",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesSuggestInformationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catalog/suggestion/information",
        );
    }

    /**
     * Generate suggestions for a technologies branding
     *
     * @param {IcePanel.CatalogSuggestionBrandGetRequest} request
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.suggestBrand({
     *         url: "url"
     *     })
     */
    public suggestBrand(
        request: IcePanel.CatalogSuggestionBrandGetRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesSuggestBrandResponse> {
        return core.HttpResponsePromise.fromPromise(this.__suggestBrand(request, requestOptions));
    }

    private async __suggestBrand(
        request: IcePanel.CatalogSuggestionBrandGetRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesSuggestBrandResponse>> {
        const { url } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.url = url;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                "catalog/suggestion/brand",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesSuggestBrandResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catalog/suggestion/brand");
    }

    /**
     * Create a signed URL prefix with access to all catalog icons
     *
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.ForbiddenError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.createSignedIconUrl()
     */
    public createSignedIconUrl(
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesCreateSignedIconUrlResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSignedIconUrl(requestOptions));
    }

    private async __createSignedIconUrl(
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesCreateSignedIconUrlResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                "catalog/icons/signed-url",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesCreateSignedIconUrlResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new IcePanel.ForbiddenError(_response.error.body as IcePanel.Error_, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catalog/icons/signed-url");
    }

    /**
     * Find a technology
     *
     * @param {IcePanel.CatalogTechnologyFindRequest} request
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.get({
     *         catalogTechnologyId: "catalogTechnologyId"
     *     })
     */
    public get(
        request: IcePanel.CatalogTechnologyFindRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: IcePanel.CatalogTechnologyFindRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesGetResponse>> {
        const { catalogTechnologyId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `catalog/technologies/${core.url.encodePathParam(catalogTechnologyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catalog/technologies/{catalogTechnologyId}",
        );
    }

    /**
     * Find a technology by the slug
     *
     * @param {IcePanel.CatalogTechnologySlugFindRequest} request
     * @param {TechnologiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IcePanel.UnauthorizedError}
     * @throws {@link IcePanel.NotFoundError}
     * @throws {@link IcePanel.UnprocessableEntityError}
     * @throws {@link IcePanel.InternalServerError}
     *
     * @example
     *     await client.catalog.technologies.getSlug({
     *         catalogTechnologySlug: "catalogTechnologySlug"
     *     })
     */
    public getSlug(
        request: IcePanel.CatalogTechnologySlugFindRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): core.HttpResponsePromise<IcePanel.catalog.TechnologiesGetSlugResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSlug(request, requestOptions));
    }

    private async __getSlug(
        request: IcePanel.CatalogTechnologySlugFindRequest,
        requestOptions?: TechnologiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IcePanel.catalog.TechnologiesGetSlugResponse>> {
        const { catalogTechnologySlug } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IcePanelEnvironment.V1,
                `catalog/technologies/slugs/${core.url.encodePathParam(catalogTechnologySlug)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IcePanel.catalog.TechnologiesGetSlugResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IcePanel.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new IcePanel.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IcePanel.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new IcePanel.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IcePanelError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catalog/technologies/slugs/{catalogTechnologySlug}",
        );
    }
}
